/* Global Button Styles */
.btn {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn--primary {
    background-color: #5BACC3; /* Nitro-blue */
    color: #FFF;
}

.btn--primary:hover {
    background-color: #393939; /* Graphite */
}

/* Header Section */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    gap: 20px; /* Adjust gap between the logo and nav section */
    background-color: #FFF0ED; /* Nitro-pink */
    padding: 20px 40px;
}


.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__title {
    font-size: 33px;
    font-weight: 300;
    color: #393939; /* Graphite */
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header__nav-link {
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    color: #393939; /* Graphite */
}

.header__nav-link:hover {
    text-decoration: underline;
}

.shop-now {
    color: #5BACC3;
}

.shop-now:hover {
    color: #5BACC3;
}
