/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #393939;
}

/* Menu-specific styles */
.hero {
    background-image: url("../assets/coffee-circle.jpg"); 
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: top;
    justify-content: center;
}

.title-box {
    background-color: #393939;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: top;
}

.title-box h2 {
    font-size: 60px;
    font-weight: 300;
}

/* Sub Navigation */
#sub-navigation {
    background-color: #393939;
    padding: 10px 0;
}

#sub-navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

#sub-navigation ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

#sub-navigation ul li {
    position: relative; 
    padding: 10px 20px;
}

#sub-navigation ul li::before {
    content: ""; 
    display: block;
    width: 1mm; 
    height: 20px; 
    background-color: #39A6A3; /* Nitro Blue line color */
    position: absolute;
    left: 0; 
}

/* Menu Section */
.menu-section {
    padding: 40px;
    text-align: center; 
}

.menu-section h2 {
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center; 
}

.menu-item {
    max-width: 600px; 
    margin: 20px auto; 
    text-align: center; 
}

.menu-item h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    line-height: 1.5;
    color: #393939; 
}

/* Background Colors */
.hot-drinks-bg {
    background-color: #FFF0ED; /* Nitro Pink */
}

.cold-drinks-bg {
    background-color: #F7F7F7; /* Light Gray */
}

.pastries-bg {
    background-color: #FFF0ED; /* Nitro Pink */
}

/* Price Styles */
.price {
    color: #5BACC3; /* Nitro Blue */
}

